In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv(r"C:\Madhuri\final project\World Energy Consumption.csv")

In [44]:
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,NaN,NaN,NaN,NaN,25.910,...,0.218,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22008,Zimbabwe,2019,ZWE,15354606.0,NaN,NaN,NaN,NaN,NaN,24.748,...,0.364,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22009,Zimbabwe,2020,ZWE,15669663.0,NaN,NaN,NaN,NaN,NaN,22.336,...,0.395,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22010,Zimbabwe,2021,ZWE,15993525.0,NaN,NaN,NaN,NaN,NaN,23.760,...,0.498,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
22011,Zimbabwe,2022,ZWE,16320539.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [45]:
print(df.head())

         country  year iso_code  population  gdp  biofuel_cons_change_pct  \
0  ASEAN (Ember)  2000      NaN         NaN  NaN                      NaN
1  ASEAN (Ember)  2001      NaN         NaN  NaN                      NaN
2  ASEAN (Ember)  2002      NaN         NaN  NaN                      NaN
3  ASEAN (Ember)  2003      NaN         NaN  NaN                      NaN
4  ASEAN (Ember)  2004      NaN         NaN  NaN                      NaN

   biofuel_cons_change_twh  biofuel_cons_per_capita  biofuel_consumption  \
0                      NaN                      NaN                  NaN
1                      NaN                      NaN                  NaN
2                      NaN                      NaN                  NaN
3                      NaN                      NaN                  NaN
4                      NaN                      NaN                  NaN

   biofuel_elec_per_capita  ...  solar_share_elec  solar_share_energy  \
0                      NaN  ...               0.0                 NaN
1                      NaN  ...               0.0                 NaN
2                      NaN  ...               0.0                 NaN
3                      NaN  ...               0.0                 NaN
4                      NaN  ...               0.0                 NaN

   wind_cons_change_pct  wind_cons_change_twh  wind_consumption  \
0                   NaN                   NaN               NaN
1                   NaN                   NaN               NaN
2                   NaN                   NaN               NaN
3                   NaN                   NaN               NaN
4                   NaN                   NaN               NaN

   wind_elec_per_capita  wind_electricity  wind_energy_per_capita  \
0                   NaN               0.0                     NaN
1                   NaN               0.0                     NaN
2                   NaN               0.0                     NaN
3                   NaN               0.0                     NaN
4                   NaN               0.0                     NaN

   wind_share_elec  wind_share_energy
0              0.0                NaN
1              0.0                NaN
2              0.0                NaN
3              0.0                NaN
4              0.0                NaN

[5 rows x 129 columns]

In [46]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22012 entries, 0 to 22011
Columns: 129 entries, country to wind_share_energy
dtypes: float64(126), int64(1), object(2)
memory usage: 21.7+ MB
None

In [47]:
print(df.describe())

               year    population           gdp  biofuel_cons_change_pct  \
count  22012.000000  1.812300e+04  1.111300e+04              1747.000000
mean    1974.213247  1.053096e+08  3.585114e+11                46.091694
std       35.058653  4.640460e+08  2.411179e+12               274.616745
min     1900.000000  1.833000e+03  1.642060e+08              -100.000000
25%     1946.000000  1.712404e+06  1.365898e+10                -0.616500
50%     1984.000000  6.991543e+06  4.167411e+10                 8.179000
75%     2003.000000  2.557688e+07  1.744300e+11                26.508500
max     2022.000000  7.975105e+09  1.136300e+14              5659.328000

       biofuel_cons_change_twh  biofuel_cons_per_capita  biofuel_consumption  \
count              2687.000000              2302.000000          2767.000000
mean                  2.719074               133.558459            38.068209
std                  10.057018               264.707851           111.623148
min                 -50.843000                 0.000000             0.000000
25%                   0.000000                 0.000000             0.000000
50%                   0.000000                15.482000             0.673000
75%                   0.861500               165.266750            13.629500
max                 141.131000              2588.512000          1199.207000

       biofuel_elec_per_capita  biofuel_electricity  biofuel_share_elec  ...  \
count              5275.000000          5527.000000         5492.000000  ...
mean                 64.716800            10.966685            1.954035  ...
std                 201.043915            47.953561            5.274155  ...
min                   0.000000             0.000000            0.000000  ...
25%                   0.000000             0.000000            0.000000  ...
50%                   0.146000             0.010000            0.062000  ...
75%                  34.289000             0.690000            1.577500  ...
max                2514.102000           677.570000           71.429000  ...

       solar_share_elec  solar_share_energy  wind_cons_change_pct  \
count       6849.000000         4035.000000           2413.000000
mean           0.622750            0.210395            267.541206
std            2.066186            0.643304           5940.944120
min            0.000000            0.000000           -100.000000
25%            0.000000            0.000000              4.029000
50%            0.000000            0.000000             20.000000
75%            0.095000            0.018500             47.971000
max           40.000000            7.586000         242384.844000

       wind_cons_change_twh  wind_consumption  wind_elec_per_capita  \
count           4639.000000       4744.000000           7065.000000
mean               7.314174         53.422938             62.811828
std               37.327922        273.255306            252.734217
min              -51.208000          0.000000              0.000000
25%                0.000000          0.000000              0.000000
50%                0.000000          0.005000              0.000000
75%                0.315000          2.357750              2.101000
max              665.413000       5487.600000           3219.852000

       wind_electricity  wind_energy_per_capita  wind_share_elec  \
count       7996.000000             4065.000000      6886.000000
mean          17.561153              232.108949         1.404910
std          101.693172              733.841324         4.489043
min            0.000000                0.000000         0.000000
25%            0.000000                0.000000         0.000000
50%            0.000000                0.051000         0.000000
75%            0.140000               45.523000         0.372000
max         2139.230000             8422.012000        56.840000

       wind_share_energy
count        4101.000000
mean            0.651413
std             1.893820
min             0.000000
25%             0.000000
50%             0.003000
75%             0.268000
max            26.157000

[8 rows x 127 columns]

In [48]:
for col in df.columns:
    print(col)

country
year
iso_code
population
gdp
biofuel_cons_change_pct
biofuel_cons_change_twh
biofuel_cons_per_capita
biofuel_consumption
biofuel_elec_per_capita
biofuel_electricity
biofuel_share_elec
biofuel_share_energy
carbon_intensity_elec
coal_cons_change_pct
coal_cons_change_twh
coal_cons_per_capita
coal_consumption
coal_elec_per_capita
coal_electricity
coal_prod_change_pct
coal_prod_change_twh
coal_prod_per_capita
coal_production
coal_share_elec
coal_share_energy
electricity_demand
electricity_generation
electricity_share_energy
energy_cons_change_pct
energy_cons_change_twh
energy_per_capita
energy_per_gdp
fossil_cons_change_pct
fossil_cons_change_twh
fossil_elec_per_capita
fossil_electricity
fossil_energy_per_capita
fossil_fuel_consumption
fossil_share_elec
fossil_share_energy
gas_cons_change_pct
gas_cons_change_twh
gas_consumption
gas_elec_per_capita
gas_electricity
gas_energy_per_capita
gas_prod_change_pct
gas_prod_change_twh
gas_prod_per_capita
gas_production
gas_share_elec
gas_share_energy
greenhouse_gas_emissions
hydro_cons_change_pct
hydro_cons_change_twh
hydro_consumption
hydro_elec_per_capita
hydro_electricity
hydro_energy_per_capita
hydro_share_elec
hydro_share_energy
low_carbon_cons_change_pct
low_carbon_cons_change_twh
low_carbon_consumption
low_carbon_elec_per_capita
low_carbon_electricity
low_carbon_energy_per_capita
low_carbon_share_elec
low_carbon_share_energy
net_elec_imports
net_elec_imports_share_demand
nuclear_cons_change_pct
nuclear_cons_change_twh
nuclear_consumption
nuclear_elec_per_capita
nuclear_electricity
nuclear_energy_per_capita
nuclear_share_elec
nuclear_share_energy
oil_cons_change_pct
oil_cons_change_twh
oil_consumption
oil_elec_per_capita
oil_electricity
oil_energy_per_capita
oil_prod_change_pct
oil_prod_change_twh
oil_prod_per_capita
oil_production
oil_share_elec
oil_share_energy
other_renewable_consumption
other_renewable_electricity
other_renewable_exc_biofuel_electricity
other_renewables_cons_change_pct
other_renewables_cons_change_twh
other_renewables_elec_per_capita
other_renewables_elec_per_capita_exc_biofuel
other_renewables_energy_per_capita
other_renewables_share_elec
other_renewables_share_elec_exc_biofuel
other_renewables_share_energy
per_capita_electricity
primary_energy_consumption
renewables_cons_change_pct
renewables_cons_change_twh
renewables_consumption
renewables_elec_per_capita
renewables_electricity
renewables_energy_per_capita
renewables_share_elec
renewables_share_energy
solar_cons_change_pct
solar_cons_change_twh
solar_consumption
solar_elec_per_capita
solar_electricity
solar_energy_per_capita
solar_share_elec
solar_share_energy
wind_cons_change_pct
wind_cons_change_twh
wind_consumption
wind_elec_per_capita
wind_electricity
wind_energy_per_capita
wind_share_elec
wind_share_energy

Handling missing values

In [49]:
energy_cols = [
    'primary_energy_consumption', 'coal_consumption', 'oil_consumption', 'gas_consumption',
    'renewables_consumption', 'nuclear_consumption', 'biofuel_consumption', 'hydro_consumption',
    'solar_consumption', 'wind_consumption', 'low_carbon_consumption', 'other_renewable_consumption',
    'fossil_fuel_consumption'
]
df[energy_cols] = df[energy_cols].fillna(0)

In [50]:
df['country'].unique()

array(['ASEAN (Ember)', 'Afghanistan', 'Africa', 'Africa (EI)',
       'Africa (Ember)', 'Africa (Shift)', 'Albania', 'Algeria',
       'American Samoa', 'Angola', 'Antarctica', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Aruba', 'Asia', 'Asia & Oceania (EIA)',
       'Asia (Ember)', 'Asia Pacific (EI)', 'Asia and Oceania (Shift)',
       'Australia', 'Australia and New Zealand (EIA)', 'Austria',
       'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bermuda', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'CIS (EI)', 'Cambodia', 'Cameroon', 'Canada',
       'Cape Verde', 'Cayman Islands', 'Central & South America (EIA)',
       'Central African Republic', 'Central America (EI)',
       'Central and South America (Shift)', 'Chad', 'Chile', 'China',
       'Colombia', 'Comoros', 'Congo', 'Cook Islands', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia',
       'Czechoslovakia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'EU28 (Shift)',
       'East Germany (EIA)', 'East Timor', 'Eastern Africa (EI)',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Eurasia (EIA)',
       'Eurasia (Shift)', 'Europe', 'Europe (EI)', 'Europe (Ember)',
       'Europe (Shift)', 'European Union (27)', 'European Union (EIA)',
       'Falkland Islands', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Guiana', 'French Polynesia', 'G20 (Ember)', 'G7 (Ember)',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guadeloupe', 'Guam',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Hawaiian Trade Zone (EIA)', 'High-income countries', 'Honduras',
       'Hong Kong', 'Hungary', 'IEO - Africa (EIA)',
       'IEO - Middle East (EIA)', 'IEO OECD - Europe (EIA)', 'Iceland',
       'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos',
       'Latin America and Caribbean (Ember)', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Low-income countries',
       'Lower-middle-income countries', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Martinique', 'Mauritania', 'Mauritius', 'Mexico',
       'Mexico, Chile, and other OECD Americas (EIA)',
       'Micronesia (country)', 'Middle Africa (EI)', 'Middle East (EI)',
       'Middle East (EIA)', 'Middle East (Ember)', 'Middle East (Shift)',
       'Moldova', 'Mongolia', 'Montenegro', 'Montserrat', 'Morocco',
       'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'Netherlands Antilles', 'New Caledonia',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue',
       'Non-OECD (EI)', 'Non-OECD (EIA)', 'Non-OPEC (EI)',
       'Non-OPEC (EIA)', 'North America', 'North America (EI)',
       'North America (Ember)', 'North America (Shift)', 'North Korea',
       'North Macedonia', 'Northern Mariana Islands', 'Norway',
       'OECD (EI)', 'OECD (EIA)', 'OECD (Ember)', 'OECD (Shift)',
       'OECD - Asia And Oceania (EIA)', 'OECD - Europe (EIA)',
       'OECD - North America (EIA)', 'OPEC (EI)', 'OPEC (EIA)',
       'OPEC (Shift)', 'OPEC - Africa (EIA)',
       'OPEC - South America (EIA)', 'Oceania', 'Oceania (Ember)', 'Oman',
       'Other Non-OECD - America (EIA)', 'Other Non-OECD - Asia (EIA)',
       'Other Non-OECD - Europe and Eurasia (EIA)', 'Pakistan',
       'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Persian Gulf (EIA)', 'Persian Gulf (Shift)', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Puerto Rico', 'Qatar',
       'Reunion', 'Romania', 'Russia', 'Rwanda', 'Saint Helena',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Samoa', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal',
       'Serbia', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South America', 'South Korea',
       'South Korea and other OECD Asia (EIA)', 'South Sudan',
       'South and Central America (EI)', 'Spain', 'Sri Lanka', 'Sudan',
       'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
       'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan',
       'Turks and Caicos Islands', 'Tuvalu', 'U.S. Pacific Islands (EIA)',
       'U.S. Territories (EIA)', 'USSR', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'United States Pacific Islands (Shift)',
       'United States Territories (Shift)',
       'United States Virgin Islands', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wake Island (EIA)', 'Wake Island (Shift)', 'West Germany (EIA)',
       'Western Africa (EI)', 'Western Sahara', 'World', 'Yemen',
       'Yugoslavia', 'Zambia', 'Zimbabwe'], dtype=object)

Creating continent column

In [51]:
country_to_continent = {
    # Africa
    'Algeria':'Africa', 'Angola':'Africa','Benin':'Africa','Botswana':'Africa',
    'Burkina Faso':'Africa','Burundi':'Africa','Cameroon':'Africa','Cape Verde':'Africa',
    'Central African Republic':'Africa','Chad':'Africa','Comoros':'Africa','Congo':'Africa',
    'Democratic Republic of Congo':'Africa','Djibouti':'Africa','Egypt':'Africa',
    'Equatorial Guinea':'Africa','Eritrea':'Africa','Eswatini':'Africa','Ethiopia':'Africa',
    'Gabon':'Africa','Gambia':'Africa','Ghana':'Africa','Guinea':'Africa','Guinea-Bissau':'Africa',
    'Ivory Coast':'Africa','Kenya':'Africa','Lesotho':'Africa','Liberia':'Africa','Libya':'Africa',
    'Madagascar':'Africa','Malawi':'Africa','Mali':'Africa','Mauritania':'Africa','Mauritius':'Africa',
    'Morocco':'Africa','Mozambique':'Africa','Namibia':'Africa','Niger':'Africa','Nigeria':'Africa',
    'Rwanda':'Africa','Sao Tome and Principe':'Africa','Senegal':'Africa','Seychelles':'Africa',
    'Sierra Leone':'Africa','Somalia':'Africa','South Africa':'Africa','South Sudan':'Africa',
    'Sudan':'Africa','Tanzania':'Africa','Togo':'Africa','Tunisia':'Africa','Uganda':'Africa',
    'Zambia':'Africa','Zimbabwe':'Africa',

    # Asia
    'Afghanistan':'Asia','Armenia':'Asia','Azerbaijan':'Asia','Bahrain':'Asia','Bangladesh':'Asia',
    'Bhutan':'Asia','Brunei':'Asia','Cambodia':'Asia','China':'Asia','Cyprus':'Asia','Georgia':'Asia',
    'India':'Asia','Indonesia':'Asia','Iran':'Asia','Iraq':'Asia','Israel':'Asia','Japan':'Asia',
    'Jordan':'Asia','Kazakhstan':'Asia','Kuwait':'Asia','Kyrgyzstan':'Asia','Laos':'Asia',
    'Lebanon':'Asia','Malaysia':'Asia','Maldives':'Asia','Mongolia':'Asia','Myanmar':'Asia',
    'Nepal':'Asia','North Korea':'Asia','Oman':'Asia','Pakistan':'Asia','Palestine':'Asia',
    'Philippines':'Asia','Qatar':'Asia','Saudi Arabia':'Asia','Singapore':'Asia','South Korea':'Asia',
    'Sri Lanka':'Asia','Syria':'Asia','Tajikistan':'Asia','Thailand':'Asia','Timor':'Asia',
    'Turkey':'Asia','Turkmenistan':'Asia','United Arab Emirates':'Asia','Uzbekistan':'Asia',
    'Vietnam':'Asia','Yemen':'Asia',

    # Europe
    'Albania':'Europe','Andorra':'Europe','Austria':'Europe','Belarus':'Europe','Belgium':'Europe',
    'Bosnia and Herzegovina':'Europe','Bulgaria':'Europe','Croatia':'Europe','Czechia':'Europe',
    'Denmark':'Europe','Estonia':'Europe','Finland':'Europe','France':'Europe','Germany':'Europe',
    'Greece':'Europe','Hungary':'Europe','Iceland':'Europe','Ireland':'Europe','Italy':'Europe',
    'Kosovo':'Europe','Latvia':'Europe','Lithuania':'Europe','Luxembourg':'Europe','Malta':'Europe',
    'Moldova':'Europe','Monenegro':'Europe','Netherlands':'Europe','North Macedonia':'Europe',
    'Norway':'Europe','Poland':'Europe','Portugal':'Europe','Romania':'Europe','Russia':'Europe',
    'San Marino':'Europe','Serbia':'Europe','Slovakia':'Europe','Slovenia':'Europe','Spain':'Europe',
    'Sweden':'Europe','Switzerland':'Europe','Ukraine':'Europe','United Kingdom':'Europe',

    # North America
    'Canada':'North America','USA':'North America','Mexico':'North America','Costa Rica':'North America',
    'Cuba':'North America','Jamaica':'North America','Panama':'North America','Bahamas':'North America',
    'Barbados':'North America','Dominican Republic':'North America','El Salvador':'North America',
    'Grenada':'North America','Guatemala':'North America','Haiti':'North America','Honduras':'North America',
    'Saint Kitts and Nevis':'North America','Saint Lucia':'North America','Trinidad and Tobago':'North America',
    'United States Virgin Islands':'North America',

    # South America
    'Argentina':'South America','Bolivia':'South America','Brazil':'South America','Chile':'South America',
    'Colombia':'South America','Ecuador':'South America','Guyana':'South America','Paraguay':'South America',
    'Peru':'South America','Suriname':'South America','Uruguay':'South America','Venezuela':'South America',

    # Oceania
    'Australia':'Oceania','New Zealand':'Oceania','Fiji':'Oceania','Papua New Guinea':'Oceania','Samoa':'Oceania',
    'Tonga':'Oceania','Vanuatu':'Oceania','Kiribati':'Oceania','Nauru':'Oceania','Tuvalu':'Oceania',

    # Aggregates and unknowns
    'World':'Unknown','European Union (27)':'Unknown','High-income countries':'Unknown',
    'Low-income countries':'Unknown','Lower-middle-income countries':'Unknown',
    'Upper-middle-income countries':'Unknown','Africa':'Unknown','Asia':'Unknown',
    'Europe':'Unknown','North America':'Unknown','Oceania':'Unknown','South America':'Unknown'
}

In [52]:
# Create a new column 'continent'
df['continent'] = df['country'].map(country_to_continent)

# Fill any unmapped countries with 'Unknown'
df['continent'] = df['continent'].fillna('Unknown')

# Verify mapping
print(df[['country','continent']].drop_duplicates().head(20))

                       country      continent
0                ASEAN (Ember)        Unknown
23                 Afghanistan           Asia
145                     Africa        Unknown
268                Africa (EI)        Unknown
326             Africa (Ember)        Unknown
349             Africa (Shift)        Unknown
466                    Albania         Europe
588                    Algeria         Africa
711             American Samoa        Unknown
753                     Angola         Africa
876                 Antarctica        Unknown
918        Antigua and Barbuda        Unknown
960                  Argentina  South America
1083                   Armenia           Asia
1113                     Aruba        Unknown
1149                      Asia        Unknown
1272      Asia & Oceania (EIA)        Unknown
1314              Asia (Ember)        Unknown
1337         Asia Pacific (EI)        Unknown
1395  Asia and Oceania (Shift)        Unknown

In [53]:
df['continent'] = df['continent'].fillna('Unknown')
df['iso_code'] = df['iso_code'].fillna('Unknown')

In [54]:
df.shape

(22012, 130)

In [55]:
unknown_countries = df.loc[df['continent'].str.lower() == 'unknown', 'country'].unique()

print(unknown_countries)

['ASEAN (Ember)' 'Africa' 'Africa (EI)' 'Africa (Ember)' 'Africa (Shift)'
 'American Samoa' 'Antarctica' 'Antigua and Barbuda' 'Aruba' 'Asia'
 'Asia & Oceania (EIA)' 'Asia (Ember)' 'Asia Pacific (EI)'
 'Asia and Oceania (Shift)' 'Australia and New Zealand (EIA)' 'Belize'
 'Bermuda' 'British Virgin Islands' 'CIS (EI)' 'Cayman Islands'
 'Central & South America (EIA)' 'Central America (EI)'
 'Central and South America (Shift)' 'Cook Islands' "Cote d'Ivoire"
 'Czechoslovakia' 'Dominica' 'EU28 (Shift)' 'East Germany (EIA)'
 'East Timor' 'Eastern Africa (EI)' 'Eurasia (EIA)' 'Eurasia (Shift)'
 'Europe' 'Europe (EI)' 'Europe (Ember)' 'Europe (Shift)'
 'European Union (27)' 'European Union (EIA)' 'Falkland Islands'
 'Faroe Islands' 'French Guiana' 'French Polynesia' 'G20 (Ember)'
 'G7 (Ember)' 'Gibraltar' 'Greenland' 'Guadeloupe' 'Guam'
 'Hawaiian Trade Zone (EIA)' 'High-income countries' 'Hong Kong'
 'IEO - Africa (EIA)' 'IEO - Middle East (EIA)' 'IEO OECD - Europe (EIA)'
 'Latin America and Caribbean (Ember)' 'Low-income countries'
 'Lower-middle-income countries' 'Macao' 'Martinique'
 'Mexico, Chile, and other OECD Americas (EIA)' 'Micronesia (country)'
 'Middle Africa (EI)' 'Middle East (EI)' 'Middle East (EIA)'
 'Middle East (Ember)' 'Middle East (Shift)' 'Montenegro' 'Montserrat'
 'Netherlands Antilles' 'New Caledonia' 'Nicaragua' 'Niue' 'Non-OECD (EI)'
 'Non-OECD (EIA)' 'Non-OPEC (EI)' 'Non-OPEC (EIA)' 'North America'
 'North America (EI)' 'North America (Ember)' 'North America (Shift)'
 'Northern Mariana Islands' 'OECD (EI)' 'OECD (EIA)' 'OECD (Ember)'
 'OECD (Shift)' 'OECD - Asia And Oceania (EIA)' 'OECD - Europe (EIA)'
 'OECD - North America (EIA)' 'OPEC (EI)' 'OPEC (EIA)' 'OPEC (Shift)'
 'OPEC - Africa (EIA)' 'OPEC - South America (EIA)' 'Oceania'
 'Oceania (Ember)' 'Other Non-OECD - America (EIA)'
 'Other Non-OECD - Asia (EIA)' 'Other Non-OECD - Europe and Eurasia (EIA)'
 'Persian Gulf (EIA)' 'Persian Gulf (Shift)' 'Puerto Rico' 'Reunion'
 'Saint Helena' 'Saint Pierre and Miquelon'
 'Saint Vincent and the Grenadines' 'Serbia and Montenegro'
 'Solomon Islands' 'South America' 'South Korea and other OECD Asia (EIA)'
 'South and Central America (EI)' 'Taiwan' 'Turks and Caicos Islands'
 'U.S. Pacific Islands (EIA)' 'U.S. Territories (EIA)' 'USSR'
 'United States' 'United States Pacific Islands (Shift)'
 'United States Territories (Shift)' 'Upper-middle-income countries'
 'Wake Island (EIA)' 'Wake Island (Shift)' 'West Germany (EIA)'
 'Western Africa (EI)' 'Western Sahara' 'World' 'Yugoslavia']

In [56]:
# Mapping dictionary for special territories/regions and countries
continent_map = {
    # Territories / Regions
    "American Samoa": "Oceania",
    "Aruba": "North America",
    "Bermuda": "North America",
    "British Virgin Islands": "North America",
    "Cayman Islands": "North America",
    "Cook Islands": "Oceania",
    "Falkland Islands": "South America",
    "Faroe Islands": "Europe",
    "French Guiana": "South America",
    "French Polynesia": "Oceania",
    "Gibraltar": "Europe",
    "Greenland": "North America",
    "Guadeloupe": "North America",
    "Guam": "Oceania",
    "Hong Kong": "Asia",
    "Macao": "Asia",
    "Martinique": "North America",
    "Micronesia (country)": "Oceania",
    "Montserrat": "North America",
    "Netherlands Antilles": "North America",
    "New Caledonia": "Oceania",
    "Niue": "Oceania",
    "Northern Mariana Islands": "Oceania",
    "Puerto Rico": "North America",
    "Reunion": "Africa",
    "Saint Helena": "Africa",
    "Saint Pierre and Miquelon": "North America",
    "Saint Vincent and the Grenadines": "North America",
    "Solomon Islands": "Oceania",
    "Taiwan": "Asia",
    "Turks and Caicos Islands": "North America",
    "Western Sahara": "Africa",

    # Actual countries
    "Antigua and Barbuda": "North America",
    "Belize": "North America",
    "Cote d'Ivoire": "Africa",
    "Dominica": "North America",
    "East Timor": "Asia",
    "Montenegro": "Europe",
    "Nicaragua": "North America",
    "Serbia and Montenegro": "Europe",
    "United States": "North America",
}

# Apply mapping: fill only where continent is 'unknown'
df.loc[df['continent'].str.lower() == 'unknown', 'continent'] = (
    df['country'].map(continent_map).fillna("Unknown")
)

In [57]:
unknown_countries = df.loc[df['continent'].str.lower() == 'unknown', 'country'].unique()

print(unknown_countries)

['ASEAN (Ember)' 'Africa' 'Africa (EI)' 'Africa (Ember)' 'Africa (Shift)'
 'Antarctica' 'Asia' 'Asia & Oceania (EIA)' 'Asia (Ember)'
 'Asia Pacific (EI)' 'Asia and Oceania (Shift)'
 'Australia and New Zealand (EIA)' 'CIS (EI)'
 'Central & South America (EIA)' 'Central America (EI)'
 'Central and South America (Shift)' 'Czechoslovakia' 'EU28 (Shift)'
 'East Germany (EIA)' 'Eastern Africa (EI)' 'Eurasia (EIA)'
 'Eurasia (Shift)' 'Europe' 'Europe (EI)' 'Europe (Ember)'
 'Europe (Shift)' 'European Union (27)' 'European Union (EIA)'
 'G20 (Ember)' 'G7 (Ember)' 'Hawaiian Trade Zone (EIA)'
 'High-income countries' 'IEO - Africa (EIA)' 'IEO - Middle East (EIA)'
 'IEO OECD - Europe (EIA)' 'Latin America and Caribbean (Ember)'
 'Low-income countries' 'Lower-middle-income countries'
 'Mexico, Chile, and other OECD Americas (EIA)' 'Middle Africa (EI)'
 'Middle East (EI)' 'Middle East (EIA)' 'Middle East (Ember)'
 'Middle East (Shift)' 'Non-OECD (EI)' 'Non-OECD (EIA)' 'Non-OPEC (EI)'
 'Non-OPEC (EIA)' 'North America' 'North America (EI)'
 'North America (Ember)' 'North America (Shift)' 'OECD (EI)' 'OECD (EIA)'
 'OECD (Ember)' 'OECD (Shift)' 'OECD - Asia And Oceania (EIA)'
 'OECD - Europe (EIA)' 'OECD - North America (EIA)' 'OPEC (EI)'
 'OPEC (EIA)' 'OPEC (Shift)' 'OPEC - Africa (EIA)'
 'OPEC - South America (EIA)' 'Oceania' 'Oceania (Ember)'
 'Other Non-OECD - America (EIA)' 'Other Non-OECD - Asia (EIA)'
 'Other Non-OECD - Europe and Eurasia (EIA)' 'Persian Gulf (EIA)'
 'Persian Gulf (Shift)' 'South America'
 'South Korea and other OECD Asia (EIA)' 'South and Central America (EI)'
 'U.S. Pacific Islands (EIA)' 'U.S. Territories (EIA)' 'USSR'
 'United States Pacific Islands (Shift)'
 'United States Territories (Shift)' 'Upper-middle-income countries'
 'Wake Island (EIA)' 'Wake Island (Shift)' 'West Germany (EIA)'
 'Western Africa (EI)' 'World' 'Yugoslavia']

In [58]:
# Drop rows where continent is 'unknown' (case-insensitive)
df = df[df['continent'].str.lower() != 'unknown']

# Verify
print(df['continent'].value_counts())

continent
Asia             4450
Africa           4195
Europe           3433
North America    2152
South America    1317
Oceania           960
Name: count, dtype: int64

In [59]:
df.shape

(16507, 130)

In [60]:
df = df.dropna(subset=['population'])

In [61]:
df['gdp'] = df['gdp'].fillna(df['gdp'].median())

In [62]:
# Count NaNs per column
nan_counts = df.isna().sum()
nan_counts = nan_counts[nan_counts > 0].sort_values(ascending=False)
print(nan_counts)

biofuel_cons_change_pct    15385
nuclear_cons_change_pct    15014
solar_cons_change_pct      14999
wind_cons_change_pct       14801
biofuel_share_energy       14790
                           ...
gas_prod_per_capita         3314
gas_production              3314
oil_prod_change_twh         3058
oil_prod_per_capita         2841
oil_production              2841
Length: 111, dtype: int64

Checking correct data types

In [63]:
df['year'] = df['year'].astype(int)
df['country'] = df['country'].astype(str)
df['population'] = df['population'].astype(float)
df['gdp'] = df['gdp'].astype(float)

Checking for duplicates

In [64]:
df = df.drop_duplicates()

In [65]:
numeric_cols = df.select_dtypes(include=np.number).columns
df[numeric_cols] = df[numeric_cols].fillna(0)

Deriving usefull columns

In [66]:
# Fossil fuel total (coal + oil + gas)
df['fossil_consumption'] = df['coal_consumption'] + df['oil_consumption'] + df['gas_consumption']

# Energy type shares
df['fossil_share'] = df['fossil_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
df['renewable_share'] = df['renewables_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
df['nuclear_share'] = df['nuclear_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
df['biofuel_share'] = df['biofuel_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
df['hydro_share'] = df['hydro_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
df['solar_share'] = df['solar_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
df['wind_share'] = df['wind_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)

# Per capita metrics
df['energy_per_capita'] = df['primary_energy_consumption'] / df['population'].replace(0, np.nan)
df['renewables_per_capita'] = df['renewables_consumption'] / df['population'].replace(0, np.nan)
df['fossil_per_capita'] = df['fossil_consumption'] / df['population'].replace(0, np.nan)

C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['fossil_consumption'] = df['coal_consumption'] + df['oil_consumption'] + df['gas_consumption']
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:5: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['fossil_share'] = df['fossil_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['renewable_share'] = df['renewables_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['nuclear_share'] = df['nuclear_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['biofuel_share'] = df['biofuel_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['hydro_share'] = df['hydro_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['solar_share'] = df['solar_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['wind_share'] = df['wind_consumption'] / df['primary_energy_consumption'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:15: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['renewables_per_capita'] = df['renewables_consumption'] / df['population'].replace(0, np.nan)
C:\Users\Naveen\AppData\Local\Temp\ipykernel_14076\194885701.py:16: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['fossil_per_capita'] = df['fossil_consumption'] / df['population'].replace(0, np.nan)

In [67]:
print(df.isna().sum()[df.isna().sum() > 0])

fossil_share       6720
renewable_share    6720
nuclear_share      6720
biofuel_share      6720
hydro_share        6720
solar_share        6720
wind_share         6720
dtype: int64

Our focus is on data after year 2000

In [68]:
df = df[(df['year'] >= 2000) & (df['year'] <= 2024)]

In [69]:
df = df[~df['country'].isin(['World', 'European Union'])]

In [70]:
df['country'] = df['country'].str.strip()

In [71]:
df

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,fossil_consumption,fossil_share,renewable_share,nuclear_share,biofuel_share,hydro_share,solar_share,wind_share,renewables_per_capita,fossil_per_capita
123,Afghanistan,2000,AFG,19542986.0,1.128379e+10,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
124,Afghanistan,2001,AFG,19688634.0,1.102127e+10,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
125,Afghanistan,2002,AFG,21000258.0,1.880487e+10,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
126,Afghanistan,2003,AFG,22645136.0,2.107434e+10,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127,Afghanistan,2004,AFG,23553554.0,2.233257e+10,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22007,Zimbabwe,2018,ZWE,15052191.0,2.271535e+10,0.0,0.0,0.0,0.0,25.910,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22008,Zimbabwe,2019,ZWE,15354606.0,4.041897e+10,0.0,0.0,0.0,0.0,24.748,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22009,Zimbabwe,2020,ZWE,15669663.0,4.041897e+10,0.0,0.0,0.0,0.0,22.336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22010,Zimbabwe,2021,ZWE,15993525.0,4.041897e+10,0.0,0.0,0.0,0.0,23.760,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
22011,Zimbabwe,2022,ZWE,16320539.0,4.041897e+10,0.0,0.0,0.0,0.0,0.000,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0

In [72]:
nan_counts = df.isna().sum()
nan_counts = nan_counts[nan_counts > 0].sort_values(ascending=False)
print(nan_counts)

fossil_share       149
renewable_share    149
nuclear_share      149
biofuel_share      149
hydro_share        149
solar_share        149
wind_share         149
dtype: int64

In [73]:
share_cols = [
    'fossil_share', 'renewable_share', 'nuclear_share',
    'biofuel_share', 'hydro_share', 'solar_share', 'wind_share'
]

# Replace NaN with 0
df[share_cols] = df[share_cols].fillna(0)

# Verify
print(df.isna().sum()[df.isna().sum() > 0])

Series([], dtype: int64)

In [74]:
unique_counts = df.nunique().sort_values(ascending=False)

print(unique_counts)

population                                 4890
energy_per_capita                          4754
per_capita_electricity                     4664
primary_energy_consumption                 4542
fossil_elec_per_capita                     4500
                                           ...
other_renewable_exc_biofuel_electricity     280
country                                     220
iso_code                                    219
year                                         23
continent                                     6
Length: 140, dtype: int64

Final check on cleaning dataset

In [75]:
print(df[['country', 'year', 'population', 'primary_energy_consumption']].isna().sum())

country                       0
year                          0
population                    0
primary_energy_consumption    0
dtype: int64

In [76]:
consumption_cols = [
    'primary_energy_consumption', 'coal_consumption', 'oil_consumption',
    'gas_consumption', 'renewables_consumption', 'nuclear_consumption',
    'fossil_fuel_consumption'
]
print((df[consumption_cols] < 0).sum())

primary_energy_consumption    0
coal_consumption              0
oil_consumption               0
gas_consumption               0
renewables_consumption        0
nuclear_consumption           0
fossil_fuel_consumption       0
dtype: int64

In [77]:
share_cols = [
    'fossil_share', 'renewable_share', 'nuclear_share',
    'biofuel_share', 'hydro_share', 'solar_share', 'wind_share'
]
print(df[share_cols].describe())

       fossil_share  renewable_share  nuclear_share  biofuel_share  \
count   4902.000000      4902.000000    4902.000000    4902.000000
mean       0.310331         0.044636       0.015546       0.001387
std        0.417240         0.107395       0.052188       0.005016
min        0.000000         0.000000       0.000000       0.000000
25%        0.000000         0.000000       0.000000       0.000000
50%        0.000000         0.000000       0.000000       0.000000
75%        0.808178         0.030673       0.000000       0.000000
max        1.000031         0.876177       0.421907       0.074862

       hydro_share  solar_share   wind_share
count  4902.000000  4902.000000  4902.000000
mean      0.032211     0.001372     0.004330
std       0.088107     0.005549     0.016928
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       0.010334     0.000005     0.000047
max       0.722386     0.075864     0.261567

In [78]:
print(df['population'].describe())

count    4.902000e+03
mean     3.297822e+07
std      1.308339e+08
min      1.833000e+03
25%      7.776128e+05
50%      5.854991e+06
75%      2.150407e+07
max      1.425894e+09
Name: population, dtype: float64

In [79]:
print(df.duplicated().sum())

0

In [80]:
print(df.sample(5))

                            country  year iso_code  population           gdp  \
13413                   New Zealand  2015      NZL   4590591.0  1.537150e+11
5377   Democratic Republic of Congo  2012      COD  70997872.0  5.523245e+10
2997         British Virgin Islands  2001      VGB     20685.0  4.041897e+10
21674                         Yemen  2022      YEM  33696612.0  4.041897e+10
731                  American Samoa  2000      ASM     58251.0  4.041897e+10

       biofuel_cons_change_pct  biofuel_cons_change_twh  \
13413                   -0.357                      0.0
5377                     0.000                      0.0
2997                     0.000                      0.0
21674                    0.000                      0.0
731                      0.000                      0.0

       biofuel_cons_per_capita  biofuel_consumption  biofuel_elec_per_capita  \
13413                    6.704                0.031                  111.097
5377                     0.000                0.000                    0.000
2997                     0.000                0.000                    0.000
21674                    0.000                0.000                    0.000
731                      0.000                0.000                    0.000

       ...  fossil_consumption  fossil_share  renewable_share  nuclear_share  \
13413  ...             156.009      0.618583         0.381417            0.0
5377   ...               0.000      0.000000         0.000000            0.0
2997   ...               0.000      0.000000         0.000000            0.0
21674  ...               0.000      0.000000         0.000000            0.0
731    ...               0.000      0.000000         0.000000            0.0

       biofuel_share  hydro_share  solar_share  wind_share  \
13413       0.000123     0.261923     0.000393    0.025245
5377        0.000000     0.000000     0.000000    0.000000
2997        0.000000     0.000000     0.000000    0.000000
21674       0.000000     0.000000     0.000000    0.000000
731         0.000000     0.000000     0.000000    0.000000

       renewables_per_capita  fossil_per_capita
13413               0.000021           0.000034
5377                0.000000           0.000000
2997                0.000000           0.000000
21674               0.000000           0.000000
731                 0.000000           0.000000

[5 rows x 140 columns]

Saving the cleaned dataset

In [81]:
df.to_csv("wec_2_cleaned_energy_data.csv", index=False)